name: TypeScript

on: [push]

jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - uses: c-hive/gha-yarn-cache@v1
      - name: Install node modules
        run: yarn
      - name: typescript
        run: yarn typescript
